{% include "live/header.html" %}

    <div class="container">
      <div class="row">
        <div class="col-sm">
          Title:
        </div>
        <div class="col-sm">
          {{ fuzzingrun.title }} <br>
          {{ fuzzingrun.text }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Start Time:
        </div>
        <div class="col-sm">
          {{ fuzzingrun.start_time }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Last update:
        </div>
        <div class="col-sm">
          {{ fuzzingrun.lastupdate_time }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Iterations:
        </div>
        <div class="col-sm">
          {{ fuzzingrun.iterations_overall }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Iterations per second:
        </div>
        <div class="col-sm">
          {{ fuzzingrun.iterations_per_sec }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Crash Count:
        </div>
        <div class="col-sm">
          {{ fuzzingrun.crash_count }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Latest crash:
        </div>
        <div class="col-sm">
          {{ fuzzingrun.latest_crash }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Path Count:
        </div>
        <div class="col-sm">
          {{ fuzzingrun.path_count }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Latest path:
        </div>
        <div class="col-sm">
          {{ fuzzingrun.latest_path }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
<pre>
                           (o)(o)
                          /     \
                         /       |
                        /   \  * |
          ________     /    /\__/
  _      /        \   /    /
 / \    /  ____    \_/    /
//\ \  /  /    \         /
V  \ \/  /      \       /
    \___/        \_____/
</pre>

      </div>
    </div>


{% include "live/footer.html" %}
